In [31]:
# Imports
import panel as pn
pn.extension ("plotly")
import plotly.express as px
import pandas as pd
import hvplot.pandas as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

In [98]:
# Read the census data into a Pandas DataFrame
file_path = Path("miami/SEAFOODMiami.csv")
seafood_data = pd.read_csv(file_path)

# Read the census data into a Pandas DataFrame
file_path = Path("miami/SUSHIROLLSMiami.csv")
sushi_rolls_data = pd.read_csv(file_path)

# Read the census data into a Pandas DataFrame
file_path = Path("miami/VEGGIEMiami.csv")
veggie_data = pd.read_csv(file_path)

# Read the census data into a Pandas DataFrame
file_path = Path("miami/pasta_miami.csv")
pasta_data = pd.read_csv(file_path)

# Read the census data into a Pandas DataFrame
file_path = Path("miami/pizza_miami.csv")
pizza_data = pd.read_csv(file_path)

In [99]:
seafood_data

          Week ceviche_Miami_Ft_Lauderdale_FL  salmon_Miami_Ft_Lauderdale_FL
0     2/5/2017                             35                           56.0
1    2/12/2017                             21                           50.0
2    2/19/2017                             19                           45.0
3    2/26/2017                             20                           45.0
4     3/5/2017                             39                           54.0
..         ...                            ...                            ...
517         25                             49                            NaN
518         23                             23                            NaN
519         31                             54                            NaN
520         27                             48                            NaN
521         22                             36                            NaN

[522 rows x 3 columns]

In [100]:
seafood_data.hvplot.line(

    rot=90, width=600, 
    height=400, 
    widget_location='right_top', 
    groupby='Week'
)

Row
    [0] HoloViews(DynamicMap)
    [1] Column
        [0] WidgetBox
            [0] Select(margin=(20, 20, 20, 20), name='Week', options=['2/5/2017', '2/12/2017', ...], value='2/5/2017', width=250)
        [1] VSpacer()

In [101]:
sushi_rolls_data.head()

,Week,Spicy_tuna_roll_Miami_Ft_Lauderdale_FL,california_sushiroll_Miami_Ft_Lauderdale_FL
0,2/5/2017,0,0
1,2/12/2017,0,46
2,2/19/2017,0,0
3,2/26/2017,0,44
4,3/5/2017,0,0

In [102]:
veggie_data.head()

        Week aloo gobi_Miami_Ft_Lauderdale_FL  salad_Miami_Ft_Lauderdale_FL
0   2/5/2017                                0                          75.0
1  2/12/2017                                0                          45.0
2  2/19/2017                                0                          50.0
3  2/26/2017                                0                          52.0
4   3/5/2017                                0                          67.0

In [103]:
pasta_data.head()

,Week,alfredo_pasta_Miami_Ft_Lauderdale_FL,Spaghetti_and meatballs_Miami_Ft_Lauderdale_FL
0,2/5/2017,15,0
1,2/12/2017,46,0
2,2/19/2017,15,0
3,2/26/2017,0,0
4,3/5/2017,15,0

In [104]:
pizza_data.head()

,Week,Pepperoni_pizza_Miami_Ft_Lauderdale_FL,supreme_pizza_Miami_Ft_Lauderdale_FL
0,2/5/2017,20,0
1,2/12/2017,19,0
2,2/19/2017,0,0
3,2/26/2017,0,0
4,3/5/2017,0,0